*{
    margin: 0;
    padding: 0;
}

.wrapper{
    background: url(./snakelogo.png);
    background-repeat: no-repeat;
    background-size: 205.9vh 50rem ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    background: linear-gradient(rgb(99, 237, 99),rgb(211, 240, 170));
    width: 80vmin;
    height: 90vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    background-color: red;
}

.food{
    background-color: purple;
}
/*
.SnakeBody{
    background-color: brown;
}


*/